/* ====== Màn hình desktop và tablet xoay ngang ====== */

@media screen and (max-width: 1440px){
    .wrap-decorations .room-desc h2{
        font-size: 24px;
        line-height: 30px;
        padding:0 0 4px 0;
    }

    .wrap-decorations .room-desc:nth-child(1) p , 
    .wrap-decorations .room-desc:nth-child(2) p{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    }
}


@media screen and (max-width: 1200px){
    .wrap-nav-header ul li{
        padding-bottom: 12px;
    }

    /* footer */
    .footer-email-signup input[type="text"]{
        width: 100px;
    }
    /* footer */

    
    .banner-living-room .box-promo-title {
        top: 92%;
        height: auto;
        left: 50%;
    }
}

@media screen and (max-width: 991px){
    .wrap-decorations .room-desc h2{
        font-size: 16px;
    }

    
    .wrap-decorations .room-desc a{
        font-size: 12px;
    }

    
    /* footer */
    .footer-email-signup input[type="text"]{
        width: 80px;
    }

    .footer-email-signup input[type="submit"]{
        width: 60px;
    }
    /* footer */

    /* sofa-category */
    .sofa-category-filter .dropdown{
        margin-top: 32px;
    }

    .wrap-filter-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }

    .wrap-filter-btn button{
        background-color: #000;
        color: white;
        padding: 12px;
        text-transform: uppercase;
        width: 100%;
    }

    .wrap-filter-btn .btn{
        text-align: start;
    }

    /* sofa-category */
}

@media screen and (max-width: 899px){
    /* banner */
    .banner-addition-1 .box-promo-title h1 {
        font-size: 3.4em;
    }

    
    .banner-living-room  .box-promo-title h1 {
        font-size: 2em;
    }

    /* banner */

    /* footer */
    /* input[type="text"]{
        width: 60px;
    } */
    /* footer */

    /* living-room */
    .wrap-room-type{
        display:block;
    }

    .room-type{
        width: 99%;
    }
    /* living-room */
    
}

/* ====== Màn hình mobile xoay ngang ====== */
@media screen and (max-width: 769px){

    
    .top-bar .col-12:first-child{
        width: 100%;
    }

    .top-bar .col-12:nth-child(2){
        display: none;
    }
    
    .top-bar ul li{
        display: none;
    }

    .lang{
        display: none;
        justify-content: center;
    }

    .wrap-language
    {
        width: 0;
    }

    .menu-topbar{
        width: 100%;
    }

    .top-bar .menu-topbar ul{
        width: 100%;
        justify-content: center;
    }

    /* display phone */
    .top-bar .menu-topbar ul li:first-child{
        display: block;
    }

    .header-main .col-12:first-child{
        display: block;
    }

    .header-main .col-12:nth-child(2){
        display: none;
    }

    /* header-main */
    .wrap-nav-header,.wrap-search{
        display: none;
    }
    
    .wrap-menu-header{
        justify-content: space-between;
    }

    .wrap-menu-header .wrap-navbar-right ul li{
        display: block;
    }
    
    .header-main .wrap-menu-header a{
        margin:0 0 0 0px;
    }

    .wrap-menu-header .wrap-navbar-right ul li a{
        margin: 0 6px;
    }
    
    /* header-main */

    
    /* banner */
    .box-promo-title h1{
        font-size: 1.2em;
    }

    
    .banner-addition-1 .box-promo-title h1 {
        font-size: 2.4em;
    }
    
    .box-content a{
        font-size: 1em;
        color: #f7f7f7;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        background-color: #d26e4b;
        padding: 14px 20px;
        text-decoration: none;
        display: block;
        width: 180px;
        margin: auto;
    }

    /* catalog by room */

    .living-room{
        width: 100%;
    }

    .living-room .room-desc{
        display: block;
        margin: 40px 20px;
        /* width: 50%; */
    }

    .decorations .room-desc{
        display: block;
        margin: 40px 0;
        background-color: antiquewhite;
    }

    .wrap-decorations .room-desc{
        display: none;
    }

    .living-room a{
        width: 50%;
    }

    .wrap-decorations{
        width: 100%;
        margin-top: 60px;
    }

    .wrap-decorations .wrap-room-desc{
        width: 0;
    }
    
    .wrap-decorations .decorations{
        width: 100%;
    }
    
    .decorations{
        display: flex;
        justify-content: flex-end;
    }

    .decorations a{
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        display: block;
        
        position: relative;
        
    }

    .decorations img{
        width: 100%;
        opacity: 0.9;
    }
    .decorations .box-promo-title{
        display: block;
        position: absolute;

        top: 50%;
        left: 50%;

        
        box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.3);
    }
    
    .catalog-by-room .decorations .box-promo-title h2{
        color: #f7f7f7;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 16px;

        line-height: 24px;

        padding: 20px 20px 0 20px;
    }
    
    .decorations .box-promo-title p{
        color: #f7f7f7;
        padding: 0px 20px 0 20px;
    }
    .decorations .box-promo-title a{
        color: #f7f7f7;
        font-size: 14px;
        text-transform: uppercase;

        padding: 14px 0;
        display: block;
        width: 180px;
        height: auto;
        padding: 20px;
    }

    .wrap-bedroom {
        margin: 0 0 0 0;
    }

    .wrap-bedroom .bedroom-link{
        width: 60%;
        margin:0 5% 0 0;
    }
    
    .wrap-bedroom .room-desc{
        width: 30%;
    }
    
    .wrap-bedroom a img{
        width: 100%;
    
        display: flex;
    }

    /* dinning room */
    .wrap-dinningroom{
        margin-top: 100px;
        width: 100%;
    }

    .wrap-dinningroom .dinningroom-link img{
        width: 100%;
        margin:0;
    }

    .wrap-dinningroom .room-desc{
        width: 70%;
        margin: 40px 20px;
    }

    

    /* dinning room */
    /* catalog by room */

    /* sofa-category */
    .sofa-category-filter .dropdown{
        margin-top: 32px;
    }

    .wrap-filter-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }

    .wrap-filter-btn button{
        background-color: #000;
        color: white;
        padding: 12px;
        text-transform: uppercase;
        width: 100%;
    }

    .wrap-filter-btn .btn{
        text-align: start;
    }

    /* sofa-category */
}

@media screen and (max-width: 575px){
    /* catalog by room */
    .living-room a {
        width: 100%;
        object-fit: cover;
    }

    .catalog-by-room .decorations .box-promo-title h2{
        color: #f7f7f7;
        text-transform: uppercase;
        font-weight: bold;

        font-size: 16px;
        line-height: 20px;

        padding: 20px 20px 0 20px;

    }

    /* catalog by room */

    /* list-new-product  */

    .wrap-product{
        height:480px;
    }
    /* list-new-product  */
}

